@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Montserrat|Great+Vibes|Satisfy&display=swap');
$white: #FFF;
$offwhite: #FDFEF9;
$dark-red: #B60029;
$red: #C80122;
$pink: #FCC1C1;
$orange: #FF5503;
$light-orange: #FF8900;
$yellow: #F7D878;
$light-yellow: #FBF08B;
$light-pink: #FFE2D0;
$dark: #222;
$offwhite: #f2f2f2;
$darker: #ededed;
