@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Montserrat|Great+Vibes|Satisfy&display=swap');
$white: #FFF;
$offwhite: #FDFEF9;
$dark-red: #B60029;
$red: #C80122;
$orange: #FF5503;
$light-orange: #FF8900;
$dark: #222;
$gray: #ededed;
