@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Montserrat|Great+Vibes|Satisfy&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font: #FFF;
}

body {
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-color: #C80122;
  border-width: 3px;
}

hr.light {
  border-color: #FFF;
}

a {
  color: #C80122;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #C80122;
  opacity: 0.4;
  text-decoration: none;
}

#first-link {
  color: #B60029;
}

#second-link {
  color: #C80122;
}

#third-link {
  color: #FF5503;
}

#fourth-link {
  color: #FF8900;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 28px;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 50px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color: #FFF;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  font-weight: 700;
  color: #C80122;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #C80122;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #1c3851;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#main-header {
  background-image: url("../images/index.gif");
  margin-top: 50px;
}

header .header-content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 100px 20px;
  text-align: center;
  color: #FFF;
  font-weight: 700;
}
header .header-content .btn {
  font-size: 36px;
}

.intro-info {
  font-size: 30px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header.secondary {
    min-height: 30%;
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}
.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

.service-box p {
  margin-bottom: 0;
}

.charity-box {
  margin: 50px auto 0;
  max-width: 400px;
}

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
  opacity: 0;
  background: rgba(34, 34, 34, 0.5);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 30px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#navigation a:hover {
  opacity: 1;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #C80122;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #FFF;
  color: #FFF;
  background-color: #C80122;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  opacity: 0.6;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #FFF;
  background-color: #FFF;
}

.btn-default .badge {
  color: #FFF;
  background-color: #222;
}

.btn-primary {
  border-color: #C80122;
  color: #FFF;
  background-color: #C80122;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #C80122;
  background-color: #FFF;
  color: #C80122;
  opacity: 1;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #C80122;
  background-color: #C80122;
}

.btn-primary .badge {
  color: #C80122;
  background-color: #FFF;
}

.btn {
  border: 0;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #FFF;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #FFF;
  background: #222;
}

img::selection {
  color: #FFF;
  background: 0 0;
}

img::-moz-selection {
  color: #FFF;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

#wedding img {
  height: 2em;
}

#footer {
  background-image: url("../images/bananas.png");
  color: #222;
  padding: 30px;
  font-weight: 700;
}
#footer a {
  color: #C80122;
}

/*# sourceMappingURL=main.css.map */
