@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Montserrat|Great+Vibes|Satisfy&display=swap");
body {
  background: url("../images/table-top.jpg") repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.invitation-details {
  padding: 10vh;
  background-color: #FDFEF9;
  border: 2px solid #000;
  outline: 10px solid #FDFEF9;
  color: #444;
  width: 60vw;
  max-width: 800px;
  min-width: 500px;
  min-height: 80vh;
  margin: 0 auto;
  text-align: center;
}
.invitation-details h2 {
  font-size: 10em;
  font-family: "Great Vibes", cursive;
}
.invitation-details h3 {
  font-size: 4em;
  font-family: "Great Vibes", cursive;
}
.invitation-details h5 {
  font-size: 1.8em;
}
.invitation-details label {
  align-items: baseline;
  font-size: 1.5em;
}
.invitation-details .guest-name {
  margin-top: 1px;
}

.invitation-email {
  background: url("../images/tulips.jpg") no-repeat top center fixed;
  outline: 2px solid #000;
  outline-offset: -20px;
  color: #000;
  width: 60vw;
  max-width: 800px;
  min-width: 500px;
  min-height: 800px;
  margin: 0 auto;
  text-align: center;
  font-weight: 1000;
  font-family: "Merriweather";
}
.invitation-email .overlay {
  padding: 10vh;
  background: -moz-linear-gradient(top, #fdfef9 0%, rgba(253, 254, 249, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fdfef9 0%, rgba(253, 254, 249, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdfef9 0%, rgba(253, 254, 249, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.invitation-email h2 {
  margin: 0 auto;
  font-size: 12em;
  font-family: "Great Vibes", cursive;
}
.invitation-email h3 {
  font-size: 5em;
  font-family: "Great Vibes", cursive;
  margin: 0 auto;
}
.invitation-email h4 {
  margin: 0 auto;
  font-size: 1.7em;
}
.invitation-email h5 {
  font-size: 1.5em;
  margin: 0 auto;
}
.invitation-email p {
  font-size: 0.8em;
  font-family: "Merriweather";
  margin: 0 auto;
}

#invitation-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  text-align: left;
}

.form-group {
  padding: 20px 0px;
}
.form-group label {
  text-align: left;
  padding: 0;
  margin: 0;
}
.form-group .control-label {
  padding: 0 10px;
  margin: 0;
  padding-left: 10vw;
}

.form-control {
  border: 2px solid #222;
  width: 70%;
  min-width: 150px;
  max-width: 300px;
  margin: 0 auto;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #fff;
  height: 0.8em;
  width: 0.8em;
  border: 3px solid #C80122;
  border-radius: 50%;
  cursor: pointer;
}
input[type=radio]:hover {
  background-color: rgba(200, 1, 34, 0.5);
}
input[type=radio]:checked {
  background-color: #C80122;
}

.btn {
  background-color: #C80122;
  padding: 20px;
  margin: 40px;
  font-size: 1.3em;
  color: #FFF;
  border: 2px solid #FFF;
}

.form-group .btn {
  margin: 0 auto;
}
.form-group .btn:hover,
.form-group .btn:focus {
  background-color: rgba(200, 1, 34, 0.4);
  color: #FFF;
}

#footer {
  background-color: #FDFEF9;
  padding: 20px;
  margin: 0 auto;
  color: #222;
}
#footer a {
  color: #C80122;
}

/* CLIENT-SPECIFIC STYLES */
#outlook a {
  padding: 0;
}

/* Force Outlook to provide a "view in browser" message */
.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

/* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%;
}

/* Force Hotmail to display normal line spacing */
body, table, td, a {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Prevent WebKit and Windows mobile changing default text sizes */
table, td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

/* Remove spacing between tables in Outlook 2007 and up */
img {
  -ms-interpolation-mode: bicubic;
}

/* Allow smoother rendering of resized image in Internet Explorer */
/* RESET STYLES */
body {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
}

body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

/* iOS BLUE LINKS */
.appleBody a {
  color: #68440a;
  text-decoration: none;
}

.appleFooter a {
  color: #999999;
  text-decoration: none;
}

/* MOBILE STYLES */

/*# sourceMappingURL=invitation.css.map */
