{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if not email_mode %}
    {% include "partials/google-analytics.html" %}
    {% endif %}
  </head>
  <body>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="center" width="100%">
            <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}">
              <img src="https://i.imgur.com/UyZVsai.jpg">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="center">
            <table align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="padding: 20px 0px;" align="center">
                    <table class="responsive-table" align="center" border="0" width="500" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="padding-copy"
                              style="font-size: 12px; line-height: 18px; font-family: Montserrat, Helvetica, Arial, sans-serif; color:#666666;"
                              align="center">
                            <span class="appleFooter" style="color:#666666; align-content:center;">
                              Please <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}">view the invitation online</a> to rsvp.<br>
                              {% if email_mode %}
                              <p><a href="{{ site_url }}">{{ site_url }}</a></p>
                              {% endif %}

                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!--
      Based on a template courtesy of Litmus (@litmusapp)
    -->
  </body>
</html>
