{% load staticfiles %}
<div class="container">
  <h2 class="section-heading text-center">Gifts</h2>
  <hr class="primary">
  <p>Does everyone know about the <a href='https://www.5lovelanguages.com/'>Five
    Love Languages</a>? In short, they describe five main categories for how
  people give and receive love: time spent together, acts of service, words of
  affirmation, physical affection, and...gifts. Of course, people can have
  multiple love languages to varying degrees, and can give and receive love in
  different 'languages'; people are complex. But for both Eli and I, we 
  give and receive love through time spent together. Literally, the best
  present you can give us is your presence at our wedding.<br><br>

  We're also fortunate to have everything we need to <strike>start</strike>
  continue our lives together. In addition, we live in a 500 sq ft. apartment,
  which is wonderful for where we're at in our lives but doesn't have a lot of
  extra space for items we don't need.<br><br>

  For these reasons, we want to stress that it's absolutely unnecessary to get
  us gifts. However we know that giving gifts is very meaningful for some
  folks, and we want to provide options! <br>

  <h4>Donate</h4>

  It would mean a lot to us if you made a donation to one of these fabulous charities in our honor.

  <div class='row'>
    <div class="col-md-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/ebzef.jpg' %}" class="img-responsive">
        <h5><a href="http://www.bethsgirls.org/action/contribute/">Elizabeth Bowers Zambia Education Fund</a></h5>
        <p><a href="http://www.bethsgirls.org/">EBZEF</a> empowers women,
        childeren, and their communities in Lumwana West, Zambia, to break the
        cycle of poverty through education. This charity is especially close to
        our hearts as it's led by Linda Bowers, Eli's great aunt, in memory of
        her late daughter Elizabeth.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/childs-play.jpg' %}" class="img-responsive">
        <h5><a href="http://www.childsplaycharity.org/donate">Child's Play</a></h5>
        <p><a href="http://www.childsplaycharity.org/">Child's Play</a> is a
        game industry charity dedicated to improving the lives of children with
        toys and games in a network of over 100 hospitals worldwide. 
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/ofb.jpg' %}" class="img-responsive">
        <h5><a href="https://www.oregonfoodbank.org/donate">Oregon Food Bank</a></h5>
        <p><a href="https://www.oregonfoodbank.org/">The Oregon Food Bank</a>
        is working to eliminate hunger and it's root causes through public
        policy, nutrition and garden education, and public awareness. Lucy
        regularly volunteers there through her workplace, and loves their
        mission and the kindness of their volunteers.</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/eff.png' %}" class="img-responsive">
        <h5><a href="https://www.eff.org/donate">Electronic Frontier Foundation</a></h5>
        <p><a href="https://www.eff.org/donate">The Electronic Frontier
          Foundation</a> is defending civil liberties in the digital world by
        championing user privacy, free expression, and innovation through impact
        litigation, policy analysis, grassroots activism, and technology
        development. As software engineers, Eli and Lucy are very concerned about
        online privacy and maintaining a free internet, and are hugely supportive
        of the EFF's efforts to defend digital privacy and freedom.</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/meals.jpg' %}" class="img-responsive">
        <h5><a href="https://www.mowp.org/donate">Meals on Wheels</a></h5>
        <p><a href="https://www.mowp.org/">Meals on Wheels</a> strives to meet
        the social and nutritional needs of older adults. They serve delicious
        and nutritious meals at dozen of dining centers in Multnomah,
        Washington and Clark counties and volunteers deliver Meals on Wheels
        and friendly visits to homebound elderly. Both Eli and Lucy's moms,
        Marci and Melissa, have volunteered hundreds of hours with Meals on
        Wheels (Melissa has been driving for them for almost 12 years!).</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/luna.jpg' %}" class="img-responsive">
        <h5><a href="https://www.emeraldcitypetrescue.org/donate">Emerald City Pet Rescue</a></h5>
        <p><a href="https://www.emeraldcitypetrescue.org/">Emerald City Pet
              Rescue</a> exists to rescue abused, neglected, and homeless
            animals from high-volume shelters around the country. This
            wonderful organization was where Lucy and Eli found Luna, and they
            couldn't be more grateful for the work they do!</p>
      </div>
    </div>
  </div><br>

  <h4>Do Something With Us</h4>

  We would love nothing more than spending time with you, and maybe get a little creative with it:
  <ul>
    <li>Take us to your favorite restaurant, bar, or coffee shop</li>
    <li>Play laser tag or paint ball with us</li>
    <li>Go berry picking</li>
    <li>Show us your favorite spot in Portland - the Japanese Garden? Powell's Books?</li>
    <li>Take a hike with us (we love walking around Forest Park)</li>
    <li>See a movie with us</li>
    <li>Anything else you want to do! We're game.</li>
  </ul><br>
  
  <h4>Honeymoon Fund</h4>
  
  <p>If a donation or experience don't work for you, we would greatly
  appreciate a donation to our <a href="https://www.travelersjoy.com/lucyandeli/">Honeymoon Fund</a>. We'll be
honeymooning in Tokyo, Japan from October 7 - 21, and are so excited to
experience Japanese culture, enjoy the best ramen and sushi, and see the fall
foliage!</p>
</div>
