{% load staticfiles %}
<div class="container">
  <h2 class="section-heading text-center">Gifts</h2>
  <hr class="primary">
  <p>
  Do you know about the <a href='https://www.5lovelanguages.com/'>Five Love
      Languages</a>? They describe five main categories for how people give and
  receive love: time spent together, acts of service, words of affirmation,
  physical affection, and gifts. Of course everybody identifies with few love
  languages to varying degrees and can give and receive love in different
  'languages'.  This is all to say that Eli and Lucy usually give and receive
  love through time spent together. <strong>The best present you can give us is
  being at our wedding.</strong>
  </p>

  <br><br>

  <p>
  We're also fortunate to have everything we need to <strike>start</strike>
  continue our lives together. Also we live in a 500 sq ft. apartment,
  which is wonderful for where we're at in our lives but doesn't give us a lot of
  space for <i>stuff</i>. If we can't eat it, please don't give it to us.
  </p>

  <br><br>

  <p>
  We want to stress that it's absolutely not necessary to get any
  gifts, but we know that giving gifts can be meaningful for you 
  so we want to provide some options!
  </p>

  <br>

  <h4>Donate</h4>

  First, it would mean a lot to us if you made a donation to one of these
  fabulous charities in our honor.

  <div class='row'>
    <div class="col-md-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/ebzef.jpg' %}" class="img-responsive">
        <h5><a href="http://www.bethsgirls.org/action/contribute/">Elizabeth Bowers Zambia Education Fund</a></h5>
        <p><a href="http://www.bethsgirls.org/">EBZEF</a> empowers women,
        childeren, and their communities in Lumwana West, Zambia, to break the
        cycle of poverty through education. This charity is especially close to
        our hearts as it's led by Linda Bowers, Eli's great aunt, in memory of
        her late daughter Elizabeth.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/childs-play.jpg' %}" class="img-responsive">
        <h5><a href="http://www.childsplaycharity.org/donate">Child's Play</a></h5>
        <p><a href="http://www.childsplaycharity.org/">Child's Play</a> is a
        game industry charity dedicated to improving the lives of children with
        toys and games in a network of over 100 hospitals worldwide. 
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/ofb.jpg' %}" class="img-responsive">
        <h5><a href="https://www.oregonfoodbank.org/donate">Oregon Food Bank</a></h5>
        <p><a href="https://www.oregonfoodbank.org/">The Oregon Food Bank</a>
        is working to eliminate hunger and it's root causes through public
        policy, nutrition and garden education, and public awareness. Lucy
        regularly volunteers there through her workplace, and loves their
        mission and the kindness of their volunteers.</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/eff.png' %}" class="img-responsive">
        <h5><a href="https://www.eff.org/donate">Electronic Frontier Foundation</a></h5>
        <p><a href="https://www.eff.org/donate">The Electronic Frontier
          Foundation</a> is defending civil liberties in the digital world by
        championing user privacy, free expression, and innovation through impact
        litigation, policy analysis, grassroots activism, and technology
        development. As software engineers, Eli and Lucy think a lot about
        online privacy and maintaining a free internet, and they are hugely supportive
        of the EFF's efforts to defend digital privacy and freedom.</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/meals.jpg' %}" class="img-responsive">
        <h5><a href="https://www.mowp.org/donate">Meals on Wheels</a></h5>
        <p><a href="https://www.mowp.org/">Meals on Wheels</a> strives to meet
        the social and nutritional needs of older adults. They serve delicious
        and nutritious meals at dozen of dining centers in Multnomah,
        Washington and Clark counties and volunteers deliver Meals on Wheels
        and friendly visits to homebound elderly. Both Eli and Lucy's moms,
        Marci and Melissa, have volunteered hundreds of hours with Meals on
        Wheels (Melissa has been driving for them for almost 12 years!).</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="charity-box">
        <img src="{% static 'bigday/images/charities/luna.jpg' %}" class="img-responsive">
        <h5><a href="https://www.emeraldcitypetrescue.org/donate">Emerald City Pet Rescue</a></h5>
        <p><a href="https://www.emeraldcitypetrescue.org/">Emerald City Pet
            Rescue</a> is a no-kill Animal shelter in Seattle which rescues
        abused, neglected, and homeless animals from high-volume shelters
        around the country. This wonderful organization was where Lucy and Eli
        found Luna, and they couldn't be more grateful for the work they
        do!</p>
      </div>
    </div>
  </div><br>

  <h4>Do Something With Us</h4>

  We would also love to spend time with you. Feel free to get creative, but here are some ideas:
  <ul>
    <li>Show us your favorite spot in Portland - the Japanese Garden? Powell's Books?</li>
    <li>Take us to your favorite restaurant, bar, or coffee shop</li>
    <li>Go on a hike with us (we love Forest Park)</li>
    <li>Play laser tag or paint ball with us</li>
    <li>Take us berry picking</li>
    <li>See a movie with us</li>
    <li>Anything else you want to do! We're game.</li>
  </ul><br>
  
  <h4>Honeymoon Fund</h4>
  
  <p>If a donation or experience don't work for you, we'd love for you
  contribute to our
  <a href="https://www.travelersjoy.com/lucyandeli/">Honeymoon Fund</a>.
  We'll be honeymooning in Tokyo, Japan from October 7 - 21, and we are so
  excited to experience Japan, enjoy great ramen and sushi, and see the fall
  foliage!</p>
</div>
