<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Location, Location, Location</h2>
            <hr class="primary">
            <h4>The Laurelhurst Club</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3648682519097!2d-122.62680358481256!3d45.52286267910169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a0ea0375c44b%3A0x863e21a7063fa050!2sThe+Laurelhurst+Club!5e0!3m2!1sen!2sus!4v1480661742944" allowfullscreen="allowfullscreen" style="border: 0px currentColor;" width="607" height="403" frameborder="0"></iframe>
            <p>Located at 3721 SE Ankeny St, directly across from Laurelhurst Park.</p>
            <h4>Getting There</h4>
            <h5>By Bus</h5>
            <p>The venue is walking distance from several bus lines. If possible we highly encourage folks to take public transit! Bonus: you won't need a designated driver <i class="far fa-grin-wink"></i></p>
            <ul>
              <li><a href="https://trimet.org/schedules/r020.htm">20 - Burnside/Stark line</a></li>
              <li><a href="https://trimet.org/schedules/r066.htm">66 - Marquam Hill/Hollywood</a></li>
              <li><a href="https://trimet.org/schedules/r075.htm">75 - Cesar Chavez/Lombard</a></li>
            </ul>
            <h5>Parking</h5>
            <p>The venue doesn't have a parking lot, but there's a good amount of parking near the venue. Cars can park in front of the club as well as across the street in front of Laurelhurst Park. You can also park anywhere in the neighborhood if there's no parking immediately by the club. We highly encourage folks to carpool!
            <h4>Booze</h4>
            <p>We will have beer, wine, and champagne <i class="fas fa-glass-cheers"></i> available at the wedding. The venue doesn't allow distilled spirits, but if you'd like to bring your own fermented beverage our bartender can serve it.</p>

            <h4>Tiki Torches</h4>
            <p>We regret to say that the venue <strong>does not allow tiki torches</strong>. We're sorry for any inconvenience this may cause.</p>
        </div>
    </div>
</div>
