{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 ">
      <h2 class="section-heading text-center">The Wedding</h2>
      <hr class="primary">
      <dl class="dl-horizontal lead">
        <dt>When</dt>
        <dd>Saturday August 8, 2020<br>Ceremony at 11 am<br>Brunch and frivolity to follow</dd>
        <dt>Where</dt>
        <dd>
        <a href="#location">The Laurelhurst Club</a>, Portland, OR<br>
        Ceremony outside (weather permitting)<br>
        Food inside<br>
        Party everywhere <img src="{% static 'bigday/images/party-parrot.gif' %}"></br>
        </dd>
        <dt>Attire</dt>
        <dd>Portland Fancy:<br>Button-downs, slacks, skirts, dresses, etc.</dd>
        <dt>Food</dt>
        <dd>We will be having a brunch buffet after the ceremony, featuring:
        <ul>
          <li>Bacon</li>
          <li>Vegetarian scrambles</li>
          <li>Pancakes</li>
          <li>Potatoes</li>
          <li>Wedding Cake</li>
          <li>Fruit</li>
          <li>Mimosas</li>
          <li>Coffee, tea, and juice</li>
        </ul>
      </dl>
    </div>
  </div>
</div>
