{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Eli & Lucy</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" id="first-link" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="second-link" href="#wedding">Wedding</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="third-link" href="#where">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="fourth-link" href="#gifts">Gifts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Lucy & Eli</h1>
                <h2>8.8.2020</h2>
                <a href="/rsvp" class="btn btn-primary btn-xl" role="button">RSVP</a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We're getting married!</h2>
                    <hr>
                    <p class='intro-info'>Saturday, August 8, 2020 at 11 am<br>
                      <a href='https://goo.gl/maps/FW5BqDZDFYegcg5S9'>The Laurelhurst Club</a> in southeast Portland
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <a href="#wedding" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/eli-and-luna.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                  <h4>Wedding</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <a href="#where" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/laurelhurst-park.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                  <h4>Portland & The Laurelhurst Club</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="wedding">
    {% include 'partials/wedding.html' %}
    </section>
    <section id="where">
        {% include 'partials/location.html' %}
    </section>
    <section id="gifts">
        {% include 'partials/gifts.html' %}
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
